<ul class="fr-accordions-group">
   <li>
       <section class="fr-accordion">
           <h3 class="fr-accordion__title">
               <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-89">Intitulé accordéon</button>
           </h3>
           <div class="fr-collapse" id="accordion-89">
               <!-- données de test -->
           </div>
       </section>
   </li>
   <li>
       <section class="fr-accordion">
           <h3 class="fr-accordion__title">
               <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-90">Intitulé accordéon</button>
           </h3>
           <div class="fr-collapse" id="accordion-90">
               <!-- données de test -->
           </div>
       </section>
   </li>
   <li>
       <section class="fr-accordion">
           <h3 class="fr-accordion__title">
               <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-91">Intitulé accordéon</button>
           </h3>
           <div class="fr-collapse" id="accordion-91">
               <!-- données de test -->
           </div>
       </section>
   </li>
</ul>
